<div *ngIf="!loggedIn">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  <label>
      Password:
      <input type="text" formControlName="password">
    </label>
  <button type="submit">Login</button>
  </form>
</div>
  <div *ngIf="loggedIn">
    <form [formGroup]="newList" (ngSubmit)="onCreateList()">
      <label>
        name:
        <input type="text" formControlName="name">
      </label>
    <label>
        description:
        <input type="text" formControlName="description">
      </label>
    <button type="submit">Add new list</button>
    </form>
    <div *ngFor="let list of lists">
      <a target="_blank" href={{list.url}}>{{ list.id }}: {{ list.name }}</a>
    </div>
  </div>